body {
    position: relative;
    background: var(--light);
    line-height: 1.6rem;
}

p {
    margin-bottom: 0.8rem;
}

a {
    color: #471100;
    font-weight: 700;
    text-decoration: none;
    text-shadow: none;
    background: #999;

    -webkit-text-fill-color: transparent;

    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../images/static02.gif);
    background-size: 6000px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul {
    margin: 0.5rem 0;
}

/* https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 2rem 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
