@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --title-text: 'Hind Siliguri', sans-serif;
    --code-text: 'IBM Plex Mono', serif;
    --music-text: 'Noto Sans JP', sans-serif;
    --dark: #222;
    --light: #fafafa;
}
