@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'IBM Plex Mono';
}

#dragger {
    width: 75px;
    height: 75px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    cursor: pointer;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
    padding: 5px;
}

#dragger::after {
    content: '';
    background-image: url(./images/static02.gif);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
}

#code {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    background: blue;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    border-right: 3px solid black;
    box-sizing: border-box;
}

#code .content {
    width: 100vw;
}

#music {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: red;
    z-index: 0;
    min-height: 100vh;
}
